<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBL7fcocxY1w8QVM5GN6iO0e7cDMLJEmiA</string>
	<key>GCM_SENDER_ID</key>
	<string>381483284227</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.calculator.banks.cardapp</string>
	<key>PROJECT_ID</key>
	<string>calculatorcards</string>
	<key>STORAGE_BUCKET</key>
	<string>calculatorcards.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:381483284227:ios:9565865fa612e621985b36</string>
</dict>
</plist>